.registerForm {
    width: 100%;
    margin-bottom: 20px;
}

.input-containers {
    display: flex;
    justify-content: flex-start;
    margin-block: 10px;
}

.register-label{
    width: 100px;
} 
.register-input {
    width: 20%;
    text-align: left;
}