<h1>Register</h1>

<form [formGroup]="registerForm" method="post" class="registerForm" (submit)="registerUser($event)">
    <div class="input-containers">
        <label for="username">
            username
        </label>
        <input id="username" type="text" formControlName="username">
    </div>
    <div class="input-containers">
        <label for="password">
            password
        </label>
        <input id="password" type="password" formControlName="password">
    </div>
    <div class="input-containers">
        <label for="age">
            age
        </label>
        <input id="age" type="number" formControlName="age">
    </div>
    <div class="input-containers">
        <input type="submit" value="register user">
    </div>
</form>
<a routerLink="">login to your account</a>